<%= form_for @timetable do %>
	<div id="sids">
		<div>
			<input name="sid[]" type="text" />
		</div>
			
	</div>
	<div>
		<button type="button" id="add-sid">Add sid</button>
	</div>
	<div>
		<input type="submit" value="Make common table" />
	</div>

<% end %>

<script>
	$('#add-sid').click(function(e) {
		$('#sids').append($('<div><input name="sid[]" type="text" /></div>'));
		$('#sids div:last-child input').focus()
	});
</script>